<mat-toolbar color="primary">
    <span>Autóalkatrész-nyilvántartó</span>
    <button mat-icon-button matTooltip="Főoldalra való visszalépés">
        <mat-icon>home</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button matTooltip="Kijelentkezés">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-card>
    <mat-card-header>
        <mat-card-title>Sikeresen be vagy jelentkezve, mint {{ loggedInAs }}</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="carEditActive.dbID">
      {{ carEditActive.dbID != -1 ? 'Jármű módosítása:' : 'Jármű hozzáadása:' }}

      <mat-form-field style="margin-top: 1%;" class="center mat-form-1-custom" *ngIf="carEditActive.dbID != -1">
        <input matInput placeholder="Autó adatbázisbeli ID-ja" disabled [(ngModel)]="carEditActive.dbID" name="dbID" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Autó márkája" [(ngModel)]="carEditActive.brand" name="brand" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Autó modellneve" [(ngModel)]="carEditActive.modelData.modelName" name="modelName" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Autó évjárata" [(ngModel)]="carEditActive.modelData.modelData.modelYear" name="modelYear" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Autó motorkódja" [(ngModel)]="carEditActive.modelData.modelData.engineCode" name="engineCode" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Lóerő" [(ngModel)]="carEditActive.modelData.modelData.hp" name="hp" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Nyomaték nm-ben" [(ngModel)]="carEditActive.modelData.modelData.nm" name="nm" required>
      </mat-form-field>

      <mat-form-field class="center mat-form-1-custom">
        <input matInput placeholder="Kivitel" [(ngModel)]="carEditActive.modelData.modelData.type" name="type" required>
      </mat-form-field>

      <mat-spinner class="center" *ngIf="showSpinner" [diameter]="40"></mat-spinner>
      <mat-card-actions *ngIf="!errorString">
          <button mat-raised-button (click)="true" color="primary">{{ carEditActive.dbID != -1 ? 'Jármű adatainak megváltoztatása' : 'Jármű hozzáadása' }}</button>
          <button mat-raised-button (click)="carEditActive.dbID = 0;" color="primary">Visszalépés</button>
      </mat-card-actions>
    </mat-card-content>

    <mat-card-content *ngIf="!carEditActive.dbID">
        Válassz az alábbi elérhető márkák közül: <br>

        <mat-form-field style="width: 20%; margin-top: 1%;" class="center">
          <mat-label>Autó márkája</mat-label>
          <mat-select (selectionChange)="onBrandSelect($event)" [(value)]="alreadySelectedBrand">
            <mat-option *ngFor="let brandObject of carBrands" [value]="brandObject.internalName">
              {{brandObject.displayName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 40%" class="center" *ngIf="alreadySelectedBrand">
            <input matInput placeholder="Autó típusa, vagy motorkódja, vagy évjárata" name="search" (input)="searchTextChanged($event)" required>
            <mat-icon matPrefix class="icon-inside-input">search</mat-icon>
        </mat-form-field>

        <table mat-table [dataSource]="selectableVehicles" class="mat-elevation-z8" *ngIf="alreadySelectedBrand" style="max-width: 100%">
          <ng-container matColumnDef="carId">
            <th mat-header-cell *matHeaderCellDef>DBID</th>
            <td mat-cell *matCellDef="let element">{{element.carId}}</td>
          </ng-container>

          <ng-container matColumnDef="modelName">
            <th mat-header-cell *matHeaderCellDef>Modell neve</th>
            <td mat-cell *matCellDef="let element">{{element.modelName}}</td>
          </ng-container>

          <ng-container matColumnDef="modelYear">
            <th mat-header-cell *matHeaderCellDef>Évjárat</th>
            <td mat-cell *matCellDef="let element">{{element.modelYear}}</td>
          </ng-container>
        
          <ng-container matColumnDef="engineCode">
            <th mat-header-cell *matHeaderCellDef>Motorkód</th>
            <td mat-cell *matCellDef="let element">{{element.engineCode}}</td>
          </ng-container>

          <ng-container matColumnDef="hp">
            <th mat-header-cell *matHeaderCellDef>Lóerő</th>
            <td mat-cell *matCellDef="let element">{{element.hp}}</td>
          </ng-container>

          <ng-container matColumnDef="nm">
            <th mat-header-cell *matHeaderCellDef>Nyomaték (nm)</th>
            <td mat-cell *matCellDef="let element">{{element.nm}}</td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Kivitel</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
          </ng-container>

          <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef>Műveletek</th>
            <td mat-cell *matCellDef="let element"><mat-icon matPrefix style="color: green" matTooltip="Autóhoz elérhető alkatrészek megtekintése">visibility</mat-icon> <mat-icon matPrefix color="primary" (click)="startCarEdit(element.carId)" matTooltip="Autó adatainak módosítása">edit</mat-icon><mat-icon matPrefix matTooltip="Autó törlése (Alkatrészeket is töröl, ha csak ehhez az autóhoz tartoztak!)">delete</mat-icon></td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsInSelectableVehicles"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsInSelectableVehicles;"></tr>
        </table>

        <mat-card-actions *ngIf="!errorString">
          <button mat-raised-button (click)="enterCarAdd()" color="primary">Jármű hozzáadása</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>